<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</head>
<body>

<div class="page">
    <h1>WebSocket Chat</h1>
  <div class="form">
    <form action="" onsubmit="sendMessage(event)" class="login-form">
      <input type="text" placeholder="Inter your value" id="messageText" autocomplete="off"/>
      <button>Send message</button>
    </form>
  </div>
    <ul id='messages' class="first">
        </ul>
</div>




</body>
</html>